derash/node_modules
derash/.pnp
derash/.pnp.js
derash/.yarn/install-state.gz

derash/.next/
derash/out/

derash/build

derash/npm-debug.log*
derash/yarn-debug.log*
derash/yarn-error.log*


derash/.env
derash/.env.local
derash/.env.development.local
derash/.env.test.local
derash/.env.production.local


derash/.vercel


derash/*.tsbuildinfo
derash/next-env.d.ts


.DS_Store
Thumbs.db


.vscode/
.idea/
*.swp
*.swo